@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
	background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

header {
	text-align: center;
	padding: 15px;
}

.container {
	background: rgba(62, 6, 148, 0.75);
}

p {
	text-align: center;
	color: #fff;
}

h2 {
	margin: 60px 0 15px;
	font-size: 2.25em;
	color: #efefef;
}

h3 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h4 {
	text-align: right;
	color: #fff;
	margin: 5px 0;
}

a {
	color: #333;
	text-decoration: none;
}

.bookmark-category {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 5px;
	align-content: center;
}

.bookmark-container {
	padding: 15px;
}

.bookmark {
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0 5px #000;
	height: 320px;
	transition: all 0.25s ease;
}

a:hover .bookmark {
	background-color: #FFC107;
	transform: scale(1.025);
}

a:hover {
	color: #efefef;
}

footer {
	color: #efefef;
	text-align: center;
	margin: 30px 0 0 0;
}

footer p {
	margin: 0;
	padding: 15px;
}

#pexels {
	background: center/cover no-repeat url("./img/pexels.jpg");
}

#unsplash {
	background: center/cover no-repeat url("./img/unsplash.jpg");
}

#awwwards {
	background: center/cover no-repeat url("./img/awwwards.jpg");
}

#webdesign-inspiration {
	background: center/cover no-repeat url("./img/webdesign-inspiration.jpg");
}

#css-design-awards {
	background: center/cover no-repeat url("./img/css-design-awards.jpg");
}

#material-design-palette {
	background: center/cover no-repeat url("./img/material-design-palette.jpg");
}

#coolors {
	background: center/cover no-repeat url("./img/coolors.jpg");
}

#css-tricks {
	background: center/cover no-repeat url("./img/css-tricks.jpg");
}

#dev-to {
	background: center/cover no-repeat url("./img/dev-to.jpg");
}

#codrops {
	background: center/cover no-repeat url("./img/codrops.jpg");
}

#shoptalkshow {
	background: center/cover no-repeat url("./img/shoptalkshow.jpg");
}

#syntax {
	background: center/cover no-repeat url("./img/syntax.jpg");
}

#frontend-happy-hour {
	background: center/cover no-repeat url("./img/frontend-happy-hour.jpg");
}

#site-list {
	background: center/cover no-repeat url("./img/site-list.jpg");
}

#flaticon {
	background: center/cover no-repeat url("./img/flaticon.jpg");
}

#paletton {
	background: center/cover no-repeat url("./img/paletton.jpg");
}

#ux-planet {
	background: center/cover no-repeat url("./img/ux-planet.jpg");
}

#sass-cheatsheet {
	background: center/cover no-repeat url("./img/sass-cheatsheet.jpg");
}

#react-cheatsheet {
	background: center/cover no-repeat url("./img/react-cheatsheet.jpg");
}

#devhints {
	background: center/cover no-repeat url("./img/devhints.jpg");
}

#briefbox {
	background: center/cover no-repeat url("./img/briefbox.jpg");
}